* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.main-header {
    background: #404eed;
    position: relative;
    min-height: 626px;
    overflow: hidden;
}

.logo a{
    color: white;
}

.nav-bar {
    display: flex;
    height: 80px;
    width: 1180px;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
}

.nav-menu-btn ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

.nav-menu-btn ul li a {
    padding: 10px;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}

.nav-menu-btn ul li a:hover {
    text-decoration: underline;
}

.nav-btn {
    border: 1px solid;
    border-color: white;
    background-color: white;
    padding:9px 16px;
    border-radius: 50px;
    cursor: pointer;
    transition: .30s ease;
}

.nav-btn:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 15px 0px;
}

.nav-btn:hover a.login-btn{
    color: #5865f2;
}

.nav-btn a {
    text-decoration: none;
    color:rgb(35, 39, 42);
    font-weight: 500px;
    font-size: 14px;
}

.welcome-sect {
    display: flex;
    height: 277px;
    width: 1180px;
    margin: 0 auto;
    flex-direction: column;
    padding: 120px 40px;
    /* justify-content: center; */
    align-items: center;
}

.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 277px;
    width: 780px;
    margin-bottom: 8px;
}


.welcome-text h1{
    margin: 0;
    font-size: 56px;
    font-family:"Ginto Nord","Whitney","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 800;
    line-height: 95%;
    text-transform: uppercase;
    text-rendering: geometricPrecision;
    color: #fff;
}

/* .welcome-pera {
    margin-top: ;
} */